@font-face {
                    font-family: 'zdw_font';
                    src: url('fonts/zdw_font.eot'); /* 写两个src：IE9 的兼容模式 */
                    src: url('fonts/zdw_font.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
                             url('fonts/zdw_font.woff') format('woff'), /* 主流浏览器 */
                             url('fonts/zdw_font.ttf')  format('truetype'), /* 主流浏览器 */
                             url('fonts/zdw_font.svg#zdw_font') format('svg'); /* Legacy iOS */
                    font-weight: normal;
                    font-style: normal;
                }
        .svg-container {
              display: inline-block;
              position: relative;
              width: 100%;
              vertical-align: top;
              overflow: hidden;
            }
        #tooltip {
              position:absolute;
              width:200px;
              height:auto;
              padding:10px;
              background-color:white;
              border-radius:10px;
              box-shadow:4px 4px 10px rgba(0,0,0,0.4);
              pointer-events:none;
        }
        .hiddenele{
            display:none;
        }
        g.state circle {
            stroke  : red;
            cursor  : pointer;
        }

        g.state circle.inner {
            fill    : white;
        }

        g.state circle.outer {
            display         : none;
            stroke-dasharray: 4px;
            stroke-opacity  : 0.5;
            fill            : transparent;
        }

        g.state.selected circle.outer {
            display         : inline;
        }
        g.state text {
            font                : 12px sans-serif;
            font-weight         : bold;
            pointer-events      : none;
        }
        .overlay{
            fill:transparent;
            pointer-events: all;
        }
        line.link {
            /*stroke: #333;*/
            stroke:#B2B2B2;
            stroke-opacity: 0.5;
            pointer-events: none;
        }
